body, html {
    margin: 2%;
    width: 94%;
    padding: 0 2%;
    height: 100%;
}

body {
    font-family: 'Source Sans Pro', sans-serif;
    overflow-x: hidden;
}

h1 {
    margin: 0;
}

/* heading section */

.heading {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
    min-height: 8.52vh;
    transition: min-height 0.3s;
    margin: 0;
}

.heading-inner {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.img-heading {
    height: 10.95vh;
    float: left;
}

.heading-title {
    font-weight: 200;
    font-size: 2em;
    margin: 0.5em 0.25em;
    display: inline-block;
    color: #212121;
}

/* navigation section */

.navbar {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.navlist {
    width: 100%;
    padding: 0;
    margin: 0;
}

.nav-item {
    box-sizing: border-box;
    display: inline-block;
    width: 24%;
    text-align: center;
    line-height: 20px;
    padding: 20px;
    text-transform: uppercase;
}

ul li a {
    text-decoration: none;
    color: rgb(99, 94, 94);
    font-size: 1em;
    padding: 1.5em;
}

/* .content{
    display: flex;
    flex-direction: row;
}  */

/* image-section */

.img-section {
    position: relative;
    /* flex: 2; */
    border: 0.5px solid rgb(99, 94, 94);
}

.img-section-text {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: black;
    color: white;
    opacity: 0.6;
    /* transparency */
    filter: alpha(opacity=60);
}

.weather {
    /* flex: 1;  */
    width: 100%;
    padding: 0.1em;
    display: inline-block;
    /*border: 0.5px solid rgb(99, 94, 94);*/
}

.weather-location {
    display: block;
    font-weight: 300;
    font-size: 1.5em;
}

.weather-desc {
    display: block;
    font-size: 1.2em;
}

.weather-today {
    width: 60%;
    vertical-align: middle;
}

.weather-today-image {
    vertical-align: middle;
    display: inline;
}

.weather-today-temp {
    font-size: 3em;
    display: inline;
}

.weather-today-deg {
    font-size: 2em;
    display: inline;
}

.weather-next-item {
    display: inline-block;
    width: 20%;
    text-align: center;
}

.weather-next-item span {
    display: block;
}

.weather-next-image {
    width: 100%;
}

.img-section img {
    width: 100%;
    height: 53.27vh;
}

.top-news a {
    text-decoration: none;
    color: dimgray;
    float: right;
    display: block;
}

.top-news-list>div {
    padding: 10px;
    color: darkgray;
    border-bottom: 0.8px solid darkgrey;
}

.top-news-list .top-news {
    padding-bottom: 0.1%;
}

.top-news h4 {
    color: dimgray;
}
.table-data {
    margin: 0.7em;
}
table {
    border-collapse: collapse;
    width: 100%;
    margin-top: 20px;
}

th, td {
    border-top: 1px solid #cecfd5;
    padding: 10px 15px;
    text-align: center;
}

thead {
    background: #7492a7;
    color: white;
}

tbody tr:nth-child(even) {
    background: #e4e5e7;
}

.table-data td.win {
    font-weight: bold;
}

.latest-news-head a {
    text-decoration: none;
    color: dimgray;
    float: right;
    display: block;
}

.latest-news-head {
    border-bottom: 0.5px solid gray;
    line-height: 0%;
}

.latest-news-head h4 {
    color: dimgray;
}

.news img {
    float: left;
    width: 10vw;
    
    margin-right: 20px;
}

.news-content {
    display: inline;
    font-size: 1em;
}

.news-content a {
    text-decoration: none;
    color: dimgray;
}

footer {
    border-bottom-style: solid;
    border-bottom-color: rgba(224, 228, 230, 0.842);
    border-top-style: solid;
    border-top-color: rgba(224, 228, 230, 0.842);
    padding-bottom: 25px;
}

footer ul li {
    list-style-type: none;
    float: left;
}

/* for desktop */

@media only screen and (min-width: 1000px) {
    .heading-title {
        font-weight: 300;
        font-size: 5em;
    }
    .container {
        display: flex;
        flex-direction: column;
    }
    .img-section {
        display: flex;
        justify-content: center;
        align-content: center;
        order: 1;
        width: 100%;
    }
    .weather {
        order: 4;
    }
    .top-news-list {
        order: 2;
    }
    .table-data {
        order: 3;
    }
}

/* tablet */

@media only screen and (min-width: 680px) {
    main, .heading-inner, .navbar, .container, footer {
        margin-left: auto;
        margin-right: auto;
    }
    .weather-today{
        display: inline;
    }
    .weather-today-image{
        width: 50%;
    }
    .weather-today-temp{
        font-size: 2.3em;
    }
    .heading-title {
        font-weight: 200;
        font-size: 3em;
    }
    .container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .img-section {
        flex: 2
    }
    .weather {
        flex: 1;
    }
    .top-news-list, .table-data {
        flex: 1 100%;
    }
}

/* mobile */

@media only screen and (max-width: 480px) {
    body {
        margin-right: 20px;
        width: 90%;
        padding-right: 8%;
    }
    main, .heading-inner, .navbar, .container, footer {
        margin-left: auto;
        margin-right: auto;
    }
    .img-heading {
        height: 7.9vh;
        float: left;
    }
    .heading-title {
        font-weight: 150;
        font-size: 2em;
    }
    .container {
        display: flex;
        flex-direction: column;
    }
    /* .content{
        display: block;
    } */
    .img-section {
        display: flex;
        justify-content: center;
        align-content: center;
        order: 1;
        width: 100%;
    }
    .weather {
        order: 3;
        flex: 1;
    }
    .top-news-list {
        order: 2;
    }
    .table-data {
        order: 4;
    }
    footer ul{
       padding: 0;
       
    }
    footer ul li a{
        font-size: 0.8rem;
        padding: 0.5em;
    }
    
    

}